<mat-card>
  <mat-card-content>
    <h2>Assign reviewers</h2>

    <div>
      <div *ngFor="let check of this.checked">
        <mat-checkbox [(ngModel)]="check.selected">
          {{ check.email }}
        </mat-checkbox>
      </div>
      <button
        mat-raised-button
        color="primary"
        matTooltip="Send"
        [routerLink]="['/dashboard/assignReviewers']"
        (click)="sendChosenReviewers()"
      >
        <mat-icon>done</mat-icon>
      </button>
    </div>

    <h4>Reviewers are sorted from most compatible to least compatible.</h4>
  </mat-card-content>
</mat-card>
