<div class="page">
  <app-toolbar class="header"></app-toolbar>
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="ngForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="email"(click)="ngForm.controls.email.markAsTouched()">
            <mat-error *ngIf="ngForm.controls.email.invalid">Not a valid email</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>

        <div class="button">
          <button type="submit" [disabled]="!ngForm.valid" mat-button>Login</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
