@import "./assets/styles/form.scss";
@import "./assets/styles/toolbar.scss";
@import "./assets/styles/tab-content.scss";

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
