<mat-card>
  <mat-card-header style = "justify-content: center">
    <mat-icon mat-card-avatar >history_edu</mat-icon>
    <mat-card-title>{{paper}}</mat-card-title>
  </mat-card-header>
<!--  <mat-card-content>-->
<!--    <iframe src="scientificPaperHTML0.html" width="1000" height="1000"  frameborder="0">-->
<!--&lt;!&ndash;      <p>iframes are not supported by your browser.</p>&ndash;&gt;-->
<!--    </iframe>-->

<!--  </mat-card-content>-->
  <mat-card-actions fxLayout="row" fxLayoutGap="25%" style="margin-bottom: -10px;margin-left: 37px">
    <button mat-raised-button color="primary" matTooltip="Preview" [routerLink]="['/dashboard/preview/',
    this.paper]">
      <mat-icon>preview</mat-icon>
    </button>
    <button mat-raised-button color="primary" matTooltip="Withdraw" [routerLink]="['/dashboard/previewMyPapers/']">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
