<mat-card>
  <form #registerForm="ngForm">
    <!--email-->
    <mat-form-field>
      <input
        matInput
        placeholder="e-Mail"
        [(ngModel)]="userData.email"
        name="email"
        email
        required
      />
      <mat-error *ngIf="registerForm.invalid"
        >e-Mail is not valid or haven't been imputed.</mat-error
      >
    </mat-form-field>

    <!--Username-->
    <mat-form-field>
      <input
        matInput
        placeholder="Username"
        [(ngModel)]="userData.username"
        name="username"
        required
      />
      <mat-error *ngIf="registerForm.invalid">Username is required.</mat-error>
    </mat-form-field>

    <!--Password-->
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        [(ngModel)]="userData.password"
        name="password"
        type="password"
        required
      />
      <mat-error *ngIf="registerForm.invalid">Name is required.</mat-error>
    </mat-form-field>

    <!--Name-->
    <mat-form-field>
      <input
        matInput
        placeholder="Name"
        [(ngModel)]="userData.name"
        name="name"
        required
      />
      <mat-error *ngIf="registerForm.invalid">Name is required.</mat-error>
    </mat-form-field>

    <!--Surname-->
    <mat-form-field>
      <input
        matInput
        placeholder="Surname"
        [(ngModel)]="userData.surname"
        name="surname"
        required
      />
      <mat-error *ngIf="registerForm.invalid">Surname is required.</mat-error>
    </mat-form-field>
  </form>

  <div class="button-wrapper">
    <button mat-raised-button>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="registerForm.invalid"
      (click)="registerUser()"
    >
      Register
    </button>
  </div>
</mat-card>
