<div class="center-screen">
  <mat-card style="width: 30vw;">
    <mat-card-header style="justify-content: center;">
      <mat-card-title>Welcome</mat-card-title>
      <mat-card-subtitle>Please, Log In</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form #loginForm="ngForm">
        <!--email-->
        <mat-form-field>
          <input
            matInput
            placeholder="e-Mail"
            [(ngModel)]="userData.email"
            name="email"
            email
            required
          />
          <mat-error *ngIf="loginForm.invalid"
            >e-Mail is not valid or haven't been imputed.</mat-error
          >
        </mat-form-field>

        <!--Password-->
        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            [(ngModel)]="userData.password"
            name="password"
            type="password"
            required
          />
          <mat-error *ngIf="loginForm.invalid">Password is required.</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <div class="button-wrapper">
      <button mat-raised-button>Cancel</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="loginForm.invalid"
        (click)="loginUser()"
      >
        Log In
      </button>
    </div>
  </mat-card>
</div>
