.tab-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.tab-content {
  min-height: 100vh;
  width: 75vw;
}

.search-form {
  justify-content: center;
}

.author-paper-table table {
  width: 100%;
}
