<div class="page">
  <app-toolbar class="header"></app-toolbar>

  <div class="content">
    <div *ngIf="_content==='previewAllPapers'">

    </div>
    <div *ngIf="_content==='previewMyPapers'">
        <app-preview-my-papers></app-preview-my-papers>
    </div>
    <div *ngIf="_content==='addPaper'">

    </div>
    <div *ngIf="_content==='assignReviewers'">

    </div>
    <div *ngIf="_content==='previewReviewedPapers'">

    </div>
    <div *ngIf="_content==='previewRevisedPapers'">

    </div>
    <div *ngIf="_content==='previewPapersToReview'">

    </div>
  </div>

</div>
